<!DOCTYPE html>
<html lang="en">
<%- include("layouts/header.ejs"); -%> 
<body>
    <%- include("layouts/navbar.ejs"); -%>
    <br> 
    <div class="container-sm">
        <h3>Create Contact</h3>
        <form id="ContactsForm" action="/posts/store" method="POST">
            <div class="form-group">
                <label for="name-input">Name</label>
                <input type="text" class="form-control" id="name-input" placeholder="Insert Name" name="name">
                <label for="email-input">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="name@example.com" name="email">
            </div>
        </form>
        <div class="btn-group mt-5" style="width: 10%;">
            <button onclick="location.href='/'" type="button" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button>
            <button type="submit" form="ContactsForm" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
        </div>
    </div>        
    <%- include("layouts/scripts.ejs"); -%> 
    <%- include("layouts/footer.ejs"); -%> 
</body>
</html>